<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OLX Automation Suite" parallel="none" verbose="2">

    <listeners>
        <listener class-name="com.company.project.listeners.TestListener"/>
        <listener class-name="com.company.project.listeners.RetryListener"/>
    </listeners>

    <test name="Home Page Tests">
        <classes>
            <class name="com.company.project.tests.HomePageTest"/>
        </classes>
    </test>

    <test name="Search Product Tests">
        <classes>
            <class name="com.company.project.tests.SearchProductTest"/>
        </classes>
    </test>

    <test name="Product Details Tests">
        <classes>
            <class name="com.company.project.tests.ProductDetailsTest"/>
        </classes>
    </test>

</suite>
